ff-main = "Lato" 
ff-head = "Neuton"

fw-reg = 300
fw-bold = 300

fs-h1 = 2.3rem
fs-h2 = 1.5rem
fs-h3 = 1.05rem
fs-body = 0.9rem

fs-h1-b = 3.3rem
fs-h2-b = 2.3rem
fs-h3-b = 1.3rem
fs-body-b = 1.2rem

clr-light = #efefef
clr-dark = #303030
clr-accent = #29c3a5
