ff-main = "Lato" 
ff-head = "Neuton"

fw-reg = 300
fw-bold = 900

fs-h1 = 2.5rem
fs-h2 = 2rem
fs-h3 = 1.25rem
fs-body = 1.1rem

fs-h1-b = 3.5rem
fs-h2-b = 3rem
fs-h3-b = 1.5rem
fs-body-b = 1.4rem

clr-light = #efefef
clr-dark = #303030
clr-accent = #29c3a5
